<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-red.min.css" />
<script src="/node_modules/material-design-lite/material.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main-container">
  <ng-progress [thick]="true"></ng-progress>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"> 
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">
          <a class="mdl-navigation__link mdl-layout-title" [routerLink]="['/home']">Roguelike</a>
        </span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-layout__tab" [routerLink]="['/stats']">Play</a>
          <a class="mdl-layout__tab" [routerLink]="['/profile']">Profile</a>
          <a *ngIf="!_storage.getValue('loggedIn')" class="mdl-layout__tab" [routerLink]="['/login']">Sign in</a>
          <a *ngIf="_storage.getValue('loggedIn')" class="mdl-layout__tab" [routerLink]="['/login']" (click)="this._userService.logOut()">Sign out</a>
        </nav>
      </div>
    </header>
    
    <!--Slide nav -->
    <div class="mdl-layout__drawer">
      <nav class="mdl-navigation">
          <a class="mdl-navigation__link" [routerLink]="['/stats']">Play</a>
        <a class="mdl-navigation__link" [routerLink]="['/profile']">Profile</a>
        <a *ngIf="!_storage.getValue('loggedIn')" class="mdl-navigation__link" [routerLink]="['/login']">Sign in</a>
        <a *ngIf="_storage.getValue('loggedIn')" class="mdl-navigation__link" [routerLink]="['/login']" (click)="this._userService.logOut()">Sign out</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <body>  
          <router-outlet></router-outlet>
        </body>
      </div>
    </main>
  </div>
</div>