<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h1><small>{{this._userService.getUserName()}}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Profile Details:</h3>
            </div>
            

            <div class="panel-body" *ngIf="this.user">
                <div class="input-group">
                    <span class="input-group-addon" id="basic">Email</span>
                    <input type="text" class="form-control" placeholder="Email" [value]="this.user.email" (input)="this.user.email = $event.target.value" aria-describedby="basic">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="asdf">User name</span>
                    <input type="text" class="form-control" placeholder="Display Name" [value]="this.user.display_name" (input)="this.user.display_name = $event.target.value" aria-describedby="basic">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="asdf">Password</span>
                    <input type="password" class="form-control" placeholder="Password" [value]="this.user.password" (input)="this.user.password = $event.target.value" aria-describedby="basic">
                </div>
            </div>
        </div>
    </div>
</div>