<div class="container-fluid">
    <div class="row">
        <div class="page-header" *ngIf="this.user">
            <h1><small>{{this.user.display_name}}</small></h1>
        </div>
    </div>
    <div class="row col-md-6">
        <div class="panel panel-default panel-tall">
            <div class="panel-heading">
                <h3 class="panel-title">Friends List:</h3>
            </div>
            <div class="panel-body list-group list-setHeight list-setWidth" *ngIf="this.user"><!-- will change to if friends -->
                <li class="list-group-item">
                    <div>
                        Friend 1
                        <button type="button" class="btn btn-danger btn-xs pull-right" (click)="deleteFriend()">Delete</button>                                                                                    
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        Friend 2
                        <button type="button" class="btn btn-danger btn-xs pull-right" (click)="deleteFriend()">Delete</button>                                                                                    
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        Friend 3
                        <button type="button" class="btn btn-danger btn-xs pull-right" (click)="deleteFriend()">Delete</button>                                                                                    
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        Friend 4
                        <button type="button" class="btn btn-danger btn-xs pull-right" (click)="deleteFriend()">Delete</button>                                                                                    
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        Friend 5
                        <button type="button" class="btn btn-danger btn-xs pull-right" (click)="deleteFriend()">Delete</button>                                                                                    
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        ...                                                                                   
                    </div>
                </li>
            </div> 

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter user to add to friends"  [value]="friendToAdd" (input)="friendToAdd = $event.target.value">                    
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" (click)="addFriend()" [disabled]="!friendToAdd">
                        Add Friend
                    </button>
                </span>
            </div>  
        </div>  
    </div>
    <div class="row col-md-4 col-md-offset-1">
        <div class="panel panel-default panel-small panel-tall">
            <div class="panel-heading">
                <h3 class="panel-title">Profile Details:</h3>
            </div>
            

            <div class="panel-body" *ngIf="this.user">
                <div class="input-group">
                    <span class="input-group-addon" id="basic">Email</span>
                    <input type="text" class="form-control" placeholder="Email" [value]="this.user.email" (input)="this.user.email = $event.target.value" aria-describedby="basic">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Display name</span>
                    <input type="text" class="form-control" placeholder="Display Name" [value]="this.user.display_name" (input)="this.user.display_name = $event.target.value" aria-describedby="basic">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Change Password</span>
                    <input type="password" class="form-control" placeholder="Password" [value]="this.password" (input)="this.password = $event.target.value" aria-describedby="basic">
                </div>
                <button type="button" class="btn btn-success pull-right" (click)="confirmChanges()" [disabled]="!this.areChanges()">Confim</button>
            </div>
        </div>
    </div>
</div>