<script src="node_modules/chart.js/src/chart.js"></script>

<div class="container-fluid">
    <div class="row">
        
        <!-- Top Players Table -->
        <div class="col-md-4 panel panel-default container-bordered">
            <div class="panel-heading">
                <h4 class="text-center">Top Players</h4>
            </div>
            <table class="table table-condensed table-fixed">
                <thead>
                    <tr>
                        <th class="col-xs-2">#</th><th class="col-xs-8">Name</th><th class="col-xs-2">Score</th>                            
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let character of character_history | async | sortingCharacter: 'score'; index as i">
                        <tr *ngIf="i >= this.numPerPage * this.topPlayerPage && i <= (this.numPerPage * this.topPlayerPage) + this.numPerPage - 1">
                            <td class="col-xs-2">{{i+1}}</td><td class="col-xs-8">{{character.character.name}}</td><td class="col-xs-2 text-center">{{character.score}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="previous">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="previous('TOP_PLAYERS')"  [disabled]="!playerBackEnabled">
                    <span aria-hidden="true">&larr;</span>Previous
                </button>
            </div>
            <div class="next">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"  (click)="next('TOP_PLAYERS')"  [disabled]="!playerNextEnabled">
                    Next
                    <span aria-hidden="true">&rarr;</span>
                </button>
            </div>
        </div>

        <!-- Class Distribution -->
        <div class="col-md-4 panel panel-default container-bordered">
            <div class="panel-heading">
                <h4 class="text-center">Class Distribution</h4>
            </div>
            <div class="panel-body">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>

        <!--Top Level Tabel -->
        <div class="col-md-4 panel panel-default container-bordered">
            <div class="panel-heading">
                <h4 class="text-center">Highest Level</h4>
            </div>
            <table class="table table-condensed table-fixed">
                <thead>
                    <tr>
                        <th class="col-xs-2">#</th><th class="col-xs-8">Name</th><th class="col-xs-2">Level</th>                            
                    </tr>
                </thead>
                <tbody> 
                    <ng-container *ngFor="let character of character_history | async | sortingCharacter: 'level_id'; index as i">
                        <tr *ngIf="i >= this.numPerPage * this.topLevelPage && i <= (this.numPerPage * this.topLevelPage) + this.numPerPage - 1">
                            <td class="col-xs-2">{{i+1}}</td><td class="col-xs-8">{{character.character.name}}</td><td class="col-xs-2 text-center">{{character.level.number}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="previous">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="previous('TOP_LEVEL')" [disabled]="!levelBackEnabled">
                    <span aria-hidden="true">&larr;</span>Previous
                </button>
            </div>
            <div class="next">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="next('TOP_LEVEL')" [disabled]="!levelNextEnabled">
                    Next
                    <span aria-hidden="true">&rarr;</span>
                </button>
            </div>
        </div>
    </div>
</div>