.container-bordered{
    margin-top: 2vh;
    border: 2px solid black;
}

.detail-panel{
    padding: 0;
    margin: 0;
}

.character-list{
    max-height: 50vh;
    height: 50vh;
    overflow: auto;
}