.character-button{
    max-width: 25vw;
}

.container-bordered{
    margin-top: 2vh;
    border: 2px solid black;
}

.detail-panel{
    padding: 0;
    margin: 0;
}

.list-group{
    height: 100%;
    max-width: 25vw;
}

.character-list{
    max-height: 50vh;
    overflow-y: scroll;
}