<div class="container-fluid">
    <div class="row">
      <div class="page-header" *ngIf="this.user">
        <h1><small>{{this.user.display_name}}</small></h1>
        <h3><small>Total Deaths: {{this.totalDeaths}}</small></h3>
      </div>
    </div>

    <!--Character history panel -->
    <div class="row col-md-4">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#current-panel" class="mdl-tabs__tab is-active">Current Characters</a>
          <a href="#past-panel" class="mdl-tabs__tab">Past Characters</a>
        </div>
        <div class="mdl-tabs__panel is-active container-bordered character-list" id="current-panel">
          <div class="list-group">
            <button type="button" class="list-group-item" (click)="createNewCharacterClicked()">Create New Character</button>              
            <button type="button" class="list-group-item" *ngFor="let character of getCharacterStatus('alive'); index as i" (click)="characterClicked(character)">
            {{character.character.name}}
            </button>
          </div>
        </div>
        <div class="mdl-tabs__panel container-bordered character-list" id="past-panel">
          <div class="list-group">
            <button type="button" class="list-group-item" *ngFor="let character of getCharacterStatus('dead'); index as i" (click)="characterClicked(character)">
            {{character.character.name}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--New Character panel -->
    <div class="row col-md-4" *ngIf="createNewClicked">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">New Character</h4>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Character Name" [value]="newCharacterString" (input)="newCharacterString = $event.target.value">
          <span class="input-group-btn">
            <button type="button" class="btn btn-success" (click)="createCharacter()">Create Character</button>
          </span>
        </div>
      </div>
    </div>

    <!--Character detail panel -->
    <div class="row col-md-4">
      <div class="panel panel-default" *ngIf="this.selectedCharacter && !this.createNewClicked">
        <div class="panel-heading">
          <h4 class="panel-title" *ngIf="this.selectedCharacter">{{this.selectedCharacter.character.name}}: Level  {{this.getLevel(this.selectedCharacter.character.id).number}} {{this.selectedCharacter.character.class.name}}</h4>
        </div>
        <div class="panel-body list-group">
          <li class="list-group-item">Attack Bonus: {{this.selectedCharacter.character.attack_bonus}}</li>
          <li class="list-group-item">Damage Bonus: {{this.selectedCharacter.character.damage_bonus}}</li>
          <li class="list-group-item">Defense Bonus: {{this.selectedCharacter.character.defense_bonus}}</li>
          <li class="list-group-item">Health: {{this.selectedCharacter.character.health}}</li>
          <li *ngIf="this.selectedWeapon" class="list-group-item" >Weapon: {{this.selectedWeapon.name}}</li>
          <li *ngIf="this.selectedArmor" class="list-group-item">Armor: {{this.selectedArmor.name}}</li>          
          <li class="list-group-item">Level: {{this.getLevel(this.selectedCharacter.character.id).number}}</li>
          <li class="list-group-item" *ngIf="this.selectedCharacter.character.killed_by && this.killedByName">Killed By: {{this.killedByName}}</li> <!--{{getKilledByClass(this.selectedCharacter.character.killed_by).name}}-->
        </div>
        <button type="button" class="panel-footer" (click)="continuePlaying()" *ngIf="!this.selectedCharacter.character.killed_by">Continue Playing</button>                          
        
      </div>
    </div>

    <!--Weapon detail panel -->
    <div class="row col-md-4" *ngIf="this.selectedWeapon && !this.createNewClicked">
      <div class="panel panel-default detail-panel">
        <div class="panel-heading">
          <h4 class="panel-title">Weapon: {{this.selectedWeapon.name}}</h4>
        </div>
        <div class="panel-body list-group">
          <li class="list-group-item">Damage Type: {{this.selectedWeapon.damage_type}}</li>
          <li class="list-group-item">Damage Range: {{this.selectedWeapon.min_damage}} - {{this.selectedWeapon.max_damage}}</li>
          <li class="list-group-item">Hit Bonus: {{this.selectedWeapon.hit_bonus}}</li>
        </div>
      </div>
    </div>

    <!--Armor detail panel -->
    <div class="row col-md-4" *ngIf="this.selectedArmor && !this.createNewClicked">
      <div class="panel panel-default detail-panel">
        <div class="panel-heading">
          <h4 class="panel-title">Armor: {{this.selectedArmor.name}}</h4>
        </div>
        <div class="panel-body list-group">
          <li class="list-group-item">Defense Value: {{this.selectedArmor.defense_value}}</li>
          <li class="list-group-item">Strong Type: {{this.selectedArmor.strong_type}}</li>
          <li class="list-group-item">Weak Type: {{this.selectedArmor.weak_type}}</li>
        </div>
      </div>
    </div>
    
  </div>