<div class="container-fluid">
    <div class="row">
      <div class="page-header" *ngIf="this.user">
        <h1><small>{{this.user.display_name}}</small></h1>
      </div>
    </div>

    <!--Character history panel -->
    <div class="row col-md-4">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#current-panel" class="mdl-tabs__tab is-active">Current Characters</a>
          <a href="#past-panel" class="mdl-tabs__tab">Past Characters</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="current-panel">
          <div class="list-group container-bordered">
            <button type="button" class="list-group-item character-button" *ngFor="let character of this.aliveCharacters; index as i" (click)="characterClicked(character)">
            {{character.name}}
            </button>
          </div>
        </div>
        <div class="mdl-tabs__panel" id="past-panel">
          <div class="list-group container-bordered">
            <button type="button" class="list-group-item character-button" *ngFor="let character of this.deadCharacters; index as i" (click)="characterClicked(character)">
            {{character.name}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Character detail panel -->
    <div class="row col-md-4">
      <div class="panel panel-default" *ngIf="this.selectedCharacter">
        <div class="panel-heading">
          <h4 class="panel-title" *ngIf="this.selectedCharacter">{{this.selectedCharacter.name}}: level __ __</h4>
          <div class="input-group" *ngIf="!this.selectedCharacter.killed_by">
            <span class="input-group-btn">
            <button type="button" class="btn btn-danger" (click)="deleteCharacterClicked()">Delete Character</button>
            </span>
            <input type="text" class="form-control" placeholder="Enter Character Name To Delete"  [value]="deleteCharacterString" (input)="deleteCharacterString = $event.target.value" >
          </div>
        </div>
        <div class="panel-body list-group">
          <li class="list-group-item">Attack Bonus: {{this.selectedCharacter.attack_bonus}}</li>
          <li class="list-group-item">Damage Bonus: {{this.selectedCharacter.damage_bonus}}</li>
          <li class="list-group-item">Defense Bonus: {{this.selectedCharacter.defense_bonus}}</li>
          <li class="list-group-item">Health: {{this.selectedCharacter.health}}</li>
          <li *ngIf="this.selectedWeapon" class="list-group-item" >Weapon: {{this.selectedWeapon.name}}</li>
          <li *ngIf="this.selectedArmor" class="list-group-item">Armor: {{this.selectedArmor.name}}</li>          
          <li class="list-group-item">Level: {{this.getLevel(this.selectedCharacter.id).id}}</li>
          <li class="list-group-item" *ngIf="this.selectedCharacter.killed_by">Killed By: {{getKilledByClass(this.selectedCharacter.killed_by).name}}</li>
        </div>
      </div>
    </div>

    <!--Weapon detail panel -->
    <div class="row col-md-4" *ngIf="this.selectedWeapon">
      <div class="panel panel-default detail-panel">
        <div class="panel-heading">
          <h4 class="panel-title">Weapon: {{this.selectedWeapon.name}}</h4>
        </div>
        <div class="panel-body list-group">
          <li class="list-group-item">Damage Type: {{this.selectedWeapon.damage_type}}</li>
          <li class="list-group-item">Damage Range: {{this.selectedWeapon.min_damage}} - {{this.selectedWeapon.max_damage}}</li>
          <li class="list-group-item">Hit Bonus: {{this.selectedWeapon.hit_bonus}}</li>
        </div>
      </div>
    </div>

    <!--Armor detail panel -->
    <div class="row col-md-4" *ngIf="this.selectedArmor">
      <div class="panel panel-default detail-panel">
        <div class="panel-heading">
          <h4 class="panel-title">Armor: {{this.selectedArmor.name}}</h4>
        </div>
        <div class="panel-body list-group">
          <li class="list-group-item">Defense Value: {{this.selectedArmor.defense_value}}</li>
          <li class="list-group-item">Strong Type: {{this.selectedArmor.strong_type}}</li>
          <li class="list-group-item">Weak Type: {{this.selectedArmor.weak_type}}</li>
        </div>
      </div>
    </div>
    
  </div>